@charset "UTF-8";

/*!
 * @(#)reset.scss version 2017. 1. 20
 *
 * Reset Styles for mornya.com
 * Refs from http://meyerweb.com/eric/tools/css/reset/ (v2.0 | 20110126)
 *
 * Copyright by mornya. All rights reserved. Since 2006.
 */
$color-text: #333;
$color-text-placeholder: #a0a0a0;
$color-text-readonly: #ddd;
$color-text-disabled: #aaa;
$color-text-code: #777;
$color-border: #ccc;
$color-link: #d05b50;
$color-link-hover: #d05b50;
$fontsize: 12px;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	letter-spacing: -0.03em;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}

html, body {
	height: 100%;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
}

body, div, td, li {
	font-size: $fontsize;
	color: $color-text;
}

label, button {
	cursor: pointer;
}

button {
	*overflow: visible;
	overflow: hidden;
	background-color: transparent;
	border: none;
	text-align: center;
}

blockquote, q {
	quotes: none;
	&:before, &:after {
		content: "";
	}
}

table caption, legend, hr {
	display: none;
	*width: 0;
}

option {
	padding-right: 6px;
}

hr {
	display: block;
	height: 1px;
	border-top: 1px solid $color-border;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	margin: 1em 0;
	padding: 0;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: $color-text;
}

table, th, td {
	border: 0;
	word-break: break-all;
}

table {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

input, select, textarea {
	height: 20px;
	margin: 1px;
	border: 1px solid $color-border;
	padding-left: 3px;
	padding-right: 3px;
	font: inherit;
	line-height: normal;
	font-size: $fontsize;
	color: $color-text;

	&[readonly] {
		color: $color-text-readonly;
	}
	&[disabled] {
		color: $color-text-disabled;
	}
}

input[type="text"], input[type="number"], input[type="password"], input[type="button"], input[type="submit"],
input[type="reset"], input[type="email"], input[type="search"], input[type="tel"], textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid $color-border;
	vertical-align: middle;
}

::-webkit-input-placeholder {
	color: $color-text-placeholder;
	opacity: 1 !important;
}

:-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
	color: $color-text-placeholder;
}

input[type="radio"], input[type="checkbox"], img, label {
	vertical-align: middle;
}

img, fieldset, iframe {
	border: 0;
}

ul, ol {
	list-style: none;
	li {
		list-style-type: none;
	}
}

address, caption, cite, code, dfn, em, i, var {
	font-style: normal;
	font-weight: normal;
}

code {
	white-space: pre;
	overflow: auto;
	font-size: $fontsize;
	color: $color-text-code;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

a {
	color: $color-text;
	text-decoration: none;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	&:link, &:active, &:visited {
		color: $color-link;
		text-decoration: none;
	}
	&:hover {
		color: $color-link-hover;
		text-decoration: underline;
	}
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
	outline: none;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
